<div class="row">
  <div class="col">
    <h2>Detail Contact</h2>

    <% if (!contact) { %>
    <div class="alert alert-danger font-weight-bold" role="alert">
      Data contact tidak ada. <br><a href="/contact" class="alert-link font-weight-normal small">&laquo; Kembali ke daftar contact</a>.
    </div>
    <% } else { %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= contact.nama %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= contact.phone %></h6>
        <p class="card-text"><%= contact.email %></p>
        <a href="/contact/edit/<%= contact.nama %>" class="btn btn-sm btn-info">Ubah</a>
        <a href="/contact/delete/<%= contact.nama %>" class="btn btn-sm btn-danger" onclick="return confirm('Yakin?');">Hapus</a>
        <a href="/contact" class="card-link d-block mt-3">&laquo; Kemabli ke daftar contact</a>
      </div>
    </div>
    <% } %>
  </div>
</div>
