<div class="row">
  <div class="col-md-6">
    <h2>Form Ubah Data Contact</h2>

    <% if (typeof errors != 'undefined') { %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>

    <form method="post" action="/contact/update">
      <input type="hidden" name="oldNama" value="<%= contact.oldNama || contact.nama %>">
      <div class="form-group">
        <label for="nama">Nama</label>
        <input type="text" class="form-control" id="nama" name="nama" required value="<%= contact.nama %>">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" required value="<%= contact.phone %>">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required value="<%= contact.email %>">
      </div>
      <button type="submit" class="btn btn-primary">Ubah Data Contact</button>
    </form>
  </div>
</div>
